<!--<div id="{{id}}" style="width: 200px; height: 200px">
  <div class="square" style="background-color: orangered; border-radius: 50%;">
    <div class="square" style="background-color: white; color: black; display: inline-block; border-radius: 50%; vertical-align: middle;">
      <div style="vertical-align:middle;" ng-transclude>
        
      </div>
    </div>
</div>-->
<!--  <div style="display: inline-block; width: 100%; height: 100%; border: {{color}} 20px solid; padding: 20px; border-radius: 50%; background-color: white; color: black;" ng-transclude>
  </div>-->
</div>
<div id="{{id}}" style="border: 2px solid #2f3439; width: {{radius}}px; height: {{radius}}px; background-color: {{color}}; vertical-align: middle; border-radius: 50%; padding: {{border}}px; background-image: linear-gradient({{progress>=50?-90+180*(progress-50)/50:90}}deg, {{progress>=50?color:'#2f3439'}} 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient({{progress>=50?270:90+180*progress/50}}deg, {{color}} 50%, #2f3439 50%, #2f3439);">
  <div  style="width: {{radius-2*border-4}}px; text-align: center; height: {{radius-2*border-4}}px; background-color: white; color: black; line-height: 14px; display: table-cell; vertical-align: middle; border-radius: 50%;" ng-transclude>
  </div>
</div>

<!--<canvas id="{{id}}}" width="200" height="200">
  Your browser does not support canvases.
</canvas>-->
<!--
<script>
  var canvas = document.getElementById({{id}}});
  var ctx = canvas.getContext("2d");
  ctx.beginPath();
  ctx.circle(100, 100, 50, 2 * Math.PI);
  ctx.stroke();
</script>-->