<div>
  <div class="thumbnail tile tile-medium tile-teal">
    <h1>Planets</h1>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

    <div ng-controller="PlanetsController as planetsCtrl">
      <div class="panel-group">
        <div class="panel" ng-repeat="planet in planetsCtrl.allPlanets" >
          <h4 class="panel-title"><span ng-if="planet.isBonus" class="label label-default pull-right">bonus</span>{{planet.sid}}#{{planet.position}}

</h4>
        </div>
        <div class="panel" ng-repeat="planet in planetsCtrl.allPlanets" >
          <planet data="planet"/>
        </div>
      </div>
    </div>
  </div>
</div>