<div>
  <div class="thumbnail tile tile-medium tile-teal">
    <h1>Science</h1>
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

    <div id="science_tab" ng-controller="ScienceController as scienceCtrl">
      <center>
        
      <div class="row row-centered">

          <!--Selectable sciences-->
        <div ng-repeat="(science, stats) in scienceCtrl.allSciences.sciences" class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-centered" style="margin-bottom: 5px;">
          <center>
          <h5 class="text-capitalize text-center" style="{{stats.isActive?'font-weight: bold; text-decoration: underline;':''}}">{{science}}</h5>
          <div style="margin-bottom: 5px;">
          <dial id="sience_{{science}}"
                color="{{scienceCtrl.getColor(science)}}"
                progress="{{stats.progress}}"
                radius="100"
                border="20"><div class="science-{{ stats.isActive ? 'active' : 'inactive' }}"><b>{{stats.currentLevel}}</b><br><small>({{stats.progress}}%)</small></div>
          </dial>
          </div>
          <div class="col-centered">
          <button type="button" class="btn btn-default btn-sm" ng-hide="stats.isActive">Select</button>
          </div>
        </center>
        </div>

        <!--Culture-->
        <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3 col-centered" style="margin-bottom: 5px;">
          <center>
          <h5 class="text-center">Culture</h5>
          <dial id="culture"
                color="{{scienceCtrl.getColor('culture')}}"
                progress="{{scienceCtrl.allSciences.culture.progress}}"
                radius="100"
                border="20"><b>{{scienceCtrl.allSciences.culture.currentLevel}}</b><br><small>({{scienceCtrl.allSciences.culture.progress}}%)</small>
          </dial>
           <div class="col-centered"/>
          </center>
        </div>
        
      <center>  
      </div>
    </div>
  </div>
</div>